<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Payment Detail</h1>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-8">
      <!-- Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Booking Information</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Booking ID:</strong> <%= data.booking_id %></p>
              <p><strong>Bike Name:</strong> <%= data["bicycle.bike_name"] %></p>
              <p><strong>Booking Date:</strong> <%= data.formatBookingDate %></p>
              <p><strong>Time Start:</strong> <%= data.time_start %></p>
              <p><strong>Time End:</strong> <%= data.time_end %></p>
              <p>
                <strong>Total Amount:</strong> <%= data.formatTotalAmountToIDR %>
              </p>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <img
                  id="barcode"
                  style="border: 1px solid #000; margin: 10px"
                  src="/img/qrcode.png"
                />
              </div>
            </div>
            <div class="row m-auto mt-5">
              <% if (payment.rental_status === 'RETURNED') { %>
              <div class="alert alert-success text-center" role="alert">
                <strong>Rental Status:</strong> <%= payment.rental_status %>
              </div>
              <% } else { %>
              <div class="alert alert-danger text-center" role="alert">
                <strong>Rental Status:</strong> <%= payment.rental_status %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <!-- Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Customer Information</h6>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> <%= data['user.name'] %></p>
          <p><strong>Email:</strong> <%= data['user.email'] %></p>
        </div>
      </div>

      <!-- Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Payment Status</h6>
        </div>
        <div class="card-body status d-flex m-0">
          <span
            class="status-icon <%= payment.status == 'PAID' ? 'paid-icon' : 'unpaid-icon' %> mx-3"
          >
            <i
              class="fas fa-<%= payment.status == 'PAID' ? 'check' : 'times' %>"
            ></i>
            <!-- Check icon for Paid -->
          </span>
          <% if(payment.status == 'PAID') { %>
          <p class="align-items-center">
            Your payment is <strong>Paid</strong>. Thank you for completing your
            payment.
          </p>
          <% } else { %>
          <p class="align-items-center">
            Your payment is <strong>Unpaid</strong>. Please complete the payment to
            confirm your booking.
          </p>
          <% } %>
          <!-- <button class="btn btn-success btn-block" id="pay-now">Pay Now</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script>
  $(document).ready(function () {
    // const canvas = $("#barcode");
    // console.log(canvas);
    // QRCode.toCanvas(canvas, "sample text", function (error) {
    //   if (error) console.error(error);
    //   console.log("success!");
    // });
    // $("#pay-now").on("click", async function (e) {
    //   e.preventDefault();
    // });
  });
</script>
